<%= form_with(model: @blog, url: updateblog_url(@blog.id), local: true) do |form| %>
 

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <div class="field">
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, Category.all, :id, :name, prompt: "Select a category" %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
