<h1>Create a New Blog</h1>

<%= form_with(model: @blog, local: true) do |form| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>
      <ul>
        <% @blog.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <div class="field">
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, Category.all, :id, :name, prompt: 'Select Category' %>
  </div>
  <!-- Assuming you are setting the user_id based on the current logged-in user -->
  <%= form.hidden_field :user_id, value: current_user.id %>
  <div class="actions">
    <%= form.submit 'Create Blog' %>
  </div>
<% end %>
