  <% content_for :stylesheets do %>
    <%= stylesheet_link_tag 'custom_styleSheet1', media: 'all', 'data-turbolinks-track': 'reload' %>
  <% end %>


  
<div class="navbar">
  <%= link_to "Home", root_path %>
    <div class="hello">
      <% unless logged_in? %>
        <%= link_to "sign in", login_path %>
        <%= link_to "sign up", signup_path %>
      <% end %>
      <% if logged_in? %>
        <%= button_to "Logout", user_path, method: :delete %>
     <% end %>
    </div>
</div>